<a href="https://colab.research.google.com/github/nishultomar/TensorflowExercises/blob/master/Salary_Slab_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [2]:
df  = pd.read_csv('/content/drive/My Drive/ML Exercise/salaries_slab.csv')
df.head(10)

   age          workclass  ...  native_country  income_bracket
0   39          State-gov  ...   United-States           <=50K
1   50   Self-emp-not-inc  ...   United-States           <=50K
2   38            Private  ...   United-States           <=50K
3   53            Private  ...   United-States           <=50K
4   28            Private  ...            Cuba           <=50K
5   37            Private  ...   United-States           <=50K
6   49            Private  ...         Jamaica           <=50K
7   52   Self-emp-not-inc  ...   United-States            >50K
8   31            Private  ...   United-States            >50K
9   42            Private  ...   United-States            >50K

[10 rows x 14 columns]

In [24]:
df['income_bracket'].unique()

array([' <=50K', ' >50K'], dtype=object)

In [0]:
def label_fix(label):
  if label == ' <=50K':
    return 0
  else:
    return 1

In [0]:
df['income_bracket'] = df['income_bracket'].apply(label_fix)

In [27]:
df.head(10)

   age          workclass  ...  native_country  income_bracket
0   39          State-gov  ...   United-States               0
1   50   Self-emp-not-inc  ...   United-States               0
2   38            Private  ...   United-States               0
3   53            Private  ...   United-States               0
4   28            Private  ...            Cuba               0
5   37            Private  ...   United-States               0
6   49            Private  ...         Jamaica               0
7   52   Self-emp-not-inc  ...   United-States               1
8   31            Private  ...   United-States               1
9   42            Private  ...   United-States               1

[10 rows x 14 columns]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
x_data = df.drop('income_bracket',axis=1)

In [0]:
y_label = df['income_bracket']

In [0]:
X_train, X_test, y_train, y_test = train_test_split(x_data, y_label, test_size=0.3, random_state=101)

In [32]:
X_train.head(10)

       age     workclass  ... hours_per_week  native_country
20895   22       Private  ...             28   United-States
3384    47       Private  ...             40   United-States
1832    46     Local-gov  ...             24   United-States
18919   46     State-gov  ...             48   United-States
31685   60       Private  ...             40   United-States
1665    39             ?  ...             40   United-States
11724   37   Federal-gov  ...             40   United-States
27977   35       Private  ...             40   United-States
30594   24       Private  ...             40   United-States
8582    22       Private  ...             40   United-States

[10 rows x 13 columns]

In [40]:
y_train.head(10)

20895    0
3384     1
1832     0
18919    0
31685    0
1665     0
11724    0
27977    0
30594    0
8582     0
Name: income_bracket, dtype: int64

In [34]:
df.columns

Index(['age', 'workclass', 'education', 'education_num', 'marital_status',
       'occupation', 'relationship', 'race', 'gender', 'capital_gain',
       'capital_loss', 'hours_per_week', 'native_country', 'income_bracket'],
      dtype='object')

In [0]:
import tensorflow as tf

In [0]:
gender  = tf.feature_column.categorical_column_with_vocabulary_list('gender',['Female','Male'])

In [0]:
occupation = tf.feature_column.categorical_column_with_hash_bucket("occupation", hash_bucket_size=1000)
marital_status = tf.feature_column.categorical_column_with_hash_bucket("marital_status", hash_bucket_size=1000)
relationship = tf.feature_column.categorical_column_with_hash_bucket("relationship", hash_bucket_size=1000)
education = tf.feature_column.categorical_column_with_hash_bucket("education", hash_bucket_size=1000)
workclass = tf.feature_column.categorical_column_with_hash_bucket("workclass", hash_bucket_size=1000)
native_country = tf.feature_column.categorical_column_with_hash_bucket("native_country", hash_bucket_size=1000)

In [0]:
age = tf.feature_column.numeric_column("age")
education_num = tf.feature_column.numeric_column("education_num")
capital_gain = tf.feature_column.numeric_column("capital_gain")
capital_loss = tf.feature_column.numeric_column("capital_loss")
hours_per_week = tf.feature_column.numeric_column("hours_per_week")

In [0]:
feat_cols = [gender,occupation,marital_status, education,workclass, native_country,age,education_num,capital_gain,capital_loss,hours_per_week]

In [0]:
input_func = tf.estimator.inputs.pandas_input_fn(x=X_train,y=y_train, batch_size=100, num_epochs=None,shuffle = True)

In [45]:
model = tf.estimator.LinearClassifier(feat_cols)

INFO:tensorflow:Using default config.
WARNING:tensorflow:Using temporary folder as model directory: /tmp/tmpkyvuy8_k
INFO:tensorflow:Using config: {'_model_dir': '/tmp/tmpkyvuy8_k', '_tf_random_seed': None, '_save_summary_steps': 100, '_save_checkpoints_steps': None, '_save_checkpoints_secs': 600, '_session_config': allow_soft_placement: true
graph_options {
  rewrite_options {
    meta_optimizer_iterations: ONE
  }
}
, '_keep_checkpoint_max': 5, '_keep_checkpoint_every_n_hours': 10000, '_log_step_count_steps': 100, '_train_distribute': None, '_device_fn': None, '_protocol': None, '_eval_distribute': None, '_experimental_distribute': None, '_experimental_max_worker_delay_secs': None, '_session_creation_timeout_secs': 7200, '_service': None, '_cluster_spec': <tensorflow.python.training.server_lib.ClusterSpec object at 0x7f6669a7c240>, '_task_type': 'worker', '_task_id': 0, '_global_id_in_cluster': 0, '_master': '', '_evaluation_master': '', '_is_chief': True, '_num_ps_replicas': 0, '_num_worker_replicas': 1}

In [0]:
model.train(input_fn=input_func,steps=10000)

In [0]:
pred_fun = tf.estimator.inputs.pandas_input_fn(x=X_test, batch_size=len(X_test), shuffle=False)

In [49]:
prediction = list(model.predict(input_fn=pred_fun))

INFO:tensorflow:Calling model_fn.
INFO:tensorflow:Done calling model_fn.
INFO:tensorflow:Graph was finalized.
INFO:tensorflow:Restoring parameters from /tmp/tmpkyvuy8_k/model.ckpt-20000
INFO:tensorflow:Running local_init_op.
INFO:tensorflow:Done running local_init_op.

In [50]:
prediction[0]

{'all_class_ids': array([0, 1], dtype=int32),
 'all_classes': array([b'0', b'1'], dtype=object),
 'class_ids': array([0]),
 'classes': array([b'0'], dtype=object),
 'logistic': array([0.16968882], dtype=float32),
 'logits': array([-1.5878341], dtype=float32),
 'probabilities': array([0.8303112 , 0.16968885], dtype=float32)}

In [0]:
final_pred = []
for i in prediction:
  final_pred.append(i['class_ids'][0])

In [55]:
final_pred[:10]

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [0]:
from sklearn.metrics import classification_report

In [58]:
print(classification_report(y_test,final_pred))

              precision    recall  f1-score   support

           0       0.85      0.96      0.90      7436
           1       0.76      0.45      0.57      2333

    accuracy                           0.84      9769
   macro avg       0.80      0.70      0.73      9769
weighted avg       0.83      0.84      0.82      9769